<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurant_System.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm"
             style="background:#1E293B; height:70px;">

            <div class="container-fluid">

                <a class="navbar-brand fw-bold fs-4"
                   asp-controller="Home"
                   asp-action="Index">

                    🍽 Restaurant Management

                </a>

                <div class="d-flex align-items-center">

                    <span class="text-light me-4">
                        Welcome, Admin
                    </span>

                    <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"
                         style="width:40px;height:40px;">

                        <span class="text-white fw-bold">
                            M
                        </span>

                    </div>

                </div>

            </div>

        </nav>

    </header>

    <div class="container-fluid p-0">

        <div class="row g-0">

            <!-- Sidebar -->

            <div class="col-md-2">

                <div class="bg-dark text-white p-4 shadow"
                     style="min-height:calc(100vh - 70px); background:#0F172A !important;">

                    <h5 class="mb-4 text-center">
                        MENU
                    </h5>

                    <div class="d-grid gap-2">

                        <a asp-controller="Home"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            📊 Dashboard
                        </a>

                        <a asp-controller="Roles"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            🛡️ Roles
                        </a>


                        <a asp-controller="Customers"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            👥 Customers
                        </a>

                        <a asp-controller="Employees"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            👨‍🍳 Employees
                        </a>

                        <a asp-controller="Categories"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            📂 Categories
                        </a>

                        <a asp-controller="MenuItems"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            🍔 Menu Items
                        </a>

                        <a asp-controller="Orders"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            🧾 Orders
                        </a>

                        <a asp-controller="OrderDetails"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            📦 Order Details
                        </a>

                        <a asp-controller="RestaurantTables"
                           asp-action="Index"
                           class="btn btn-outline-light text-start">
                            🪑 Restaurant Tables
                        </a>

                    </div>

                </div>

            </div>

            <!-- Main -->

            <div class="col-md-10 p-4">

                @RenderBody()

            </div>

        </div>

    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Restaurant_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
